#btn1 {
  border: 2px solid black;
  border-radius: 50px;
  float: right;
}

h1 {
  text-align: center;
  background-color:
}

.container {
  margin-top: 50px;
  font-family: times;
}


.p1 {
  margin-top: 10px;
  text-align: center;
  font-family: 'Ultra', serif;

}

#javaScript {
  display: none;
}

#cPlus {
  display: none;
}

#swift {
  display: none;
}

#all {
  display: none;
}
