#btn1 {
  border: 2px solid black;
  border-radius: 50px;
  }

h1 {
  text-align: center;
  background-color:
}

.container {
  margin-top: 50px;
  font-family: times;
}


.p1 {
  margin-top: 10px;
  text-align: center;
  font-family: 'Ultra', serif;

}
